body {
    background-image: url("./foto2.png");
    background-size: 100%;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(37, 44, 44, 0.25);
}

.encriptador {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.interno {
    width: 100%
    display: inline-block;
    text-align: center;
  
}

button {
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 15%;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    color: antiquewhite;
    padding: 15px 30px;
}

button:hover{
   border-color: #fdfdfd;
   font-size: 20px;
}

button:active{
   border-color: darkgrey;
   
}

textarea {
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);
    border-inline: 1px solid rgba(176, 194, 194, 0.25);
    width: 300px;
    height: 300px;
    resize: none;
    position: relative;
   
    padding: 15px ;
    text-align:center;
   
}

 .glitch-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

 }
 
 .glitch {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #ff00ff;
    z-index: -2;
 }
 
 @keyframes glitch-color {
    0% {
       transform: translate(0);
    }
 
    20% {
       transform: translate(-3px, 3px);
    }
 
    40% {
       transform: translate(-3px, -3px);
    }
 
    60% {
       transform: translate(3px, 3px);
    }
 
    80% {
       transform: translate(3px, -3px);
    }
 
    to {
       transform: translate(0);
    }
 }    
